In [6]:
"""
I imported matplotlb as plt, pandas as pd, and plotly as pt
"""
import matplotlib.pyplot as plt 
import pandas as pd
import plotly.express as pt

In [7]:
import chardet
# This code is to check the kind of encoding the csv file is using
with open("C:/Users/Mystic/Downloads/brasil-real-estate-1.csv", "rb") as f:
    result = chardet.detect(f.read(100000))
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [8]:
# First load your csv file from the source by getting the file location also not
# I used the encoding = ISO-8859-1 because pandas didnt recognized it as utf-8
df1 = pd.read_csv("C:/Users/Mystic/Downloads/brasil-real-estate-1.csv", encoding='ISO-8859-1')
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12834 entries, 0 to 12833
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12834 non-null  int64
 1   property_type            12834 non-null  object
 2   place_with_parent_names  12834 non-null  object
 3   region                   12834 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  12834 non-null  int64
 6   price_usd                12834 non-null  object
dtypes: int64(2), object(5)
memory usage: 702.0+ KB

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12834 entries, 0 to 12833
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12834 non-null  int64
 1   property_type            12834 non-null  object
 2   place_with_parent_names  12834 non-null  object
 3   region                   12834 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  12834 non-null  int64
 6   price_usd                12834 non-null  object
dtypes: int64(2), object(5)
memory usage: 702.0+ KB

In [14]:
# converting the price_usd to floating point to make it sutable for calculations 
df1["price_usd"] = df1["price_usd"].str.replace("$", "").str.replace(",","").astype(float)
# This is to print out the head of the dataset
# df1["price_usd"].head()

In [16]:
df1.dropna(inplace=True)
print(df1.shape)
df1.info()
df1.head()

(11551, 7)
<class 'pandas.core.frame.DataFrame'>
Index: 11551 entries, 0 to 12833
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               11551 non-null  int64
 1   property_type            11551 non-null  object
 2   place_with_parent_names  11551 non-null  object
 3   region                   11551 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  11551 non-null  int64
 6   price_usd                11551 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 721.9+ KB

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,187230.85
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,81133.37
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,154465.45
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,146013.20
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,101416.71

In [18]:
# here am taking the state column from the place_with_parent_names column 
df1["state"] = df1["place_with_parent_names"].str.split("|", expand=True)[2]
df1["state"].head()

0    Alagoas
1    Alagoas
2    Alagoas
3    Alagoas
4    Alagoas
Name: state, dtype: object

In [20]:
df1["price_usd"].describe()

count     11551.000000
mean     181843.221930
std       96603.990393
min       74892.340000
25%      109217.990000
50%      152905.190000
75%      224677.020000
max      524246.390000
Name: price_usd, dtype: float64